.o-button {
    font-family: $font-primary;
    font-size: 0.65em;
    font-weight: 500;
    color: $black-800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    border: 2px solid $black-800;
    padding: 5px 15px;
}