.u-container {
    padding: 0 10px;
}

@include breakpoint(medium) {
    .u-container {
        padding: 0 20px;
    }
}

@include breakpoint(large) {
    .u-container {
        max-width: 1000px;
        margin: 0 auto;
    }
} 

@include breakpoint(1280px) {
    .u-container {
        max-width: 1200px;
        margin: 0 auto;
    }
} 

@include breakpoint(1920px) {
    .u-container {
        max-width: 1500px;
        margin: 0 auto;
    }
} 