.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .logo {
        width: 230px;
        height: 100%;
    }

    > .details {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header {
    > .container {
        width: 70%;
        float: right;
    }
}