$black-800            : #0f1218;
$gray-900             : #272a30;
$gray-800             : #626262;
$gray-800-transparent : rgba(98, 98, 98, 0.3);
$white-500            : #d1d1d1;
$yellow-900           : #fcce2c;
$yellow-800           : #f5d349;
$gold-900             : linear-gradient(to right, #fcac3a 0%, #fcce2c 100%);
